
 <ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">UCams Login</h1>
</ion-header-bar>

<ion-view view-title="Login">

<ion-content>
	 <form name="loginForm" ng-submit="login()">
         <div class="list">
              <div ng-show="invalidCredentialsErrorMessage">
                  <label class="">
                      {{invalidCredentialsErrorMessage}}
                  </label>
              </div>
              <label class="item item-input item-floating-label">
                <span class="input-label">Staff ID</span>
                <input name="username" type="text" placeholder="Staff ID" required="required" ng-model="credentials.username">
                  
                  <div ng-messages="loginForm.username.$error">
                      <div ng-message="required">
                        Please enter your staff ID number...
                      </div>
                      <div ng-message="email">
                        You did not enter your email address correctly...
                      </div>
                 </div>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input name="password" type="password" placeholder="Password" required="required" ng-model="credentials.password">
                  <div ng-messages="loginForm.password.$error">
                      <div ng-message="required">
                        Please enter your password...
                      </div>
                 </div>
              </label>
              <div  style="border:none; padding-top:1em; padding-left:1em; padding-right:1em;">
                  <button class="button button-block button-calm" type="submit">Login</button>
             </div>
              <div class="item" style="border:none; padding-top:0.2em; margin-top:0em;">
                 <div class="right-side">
                         <a class="button  button-clear button-calm" style="" ng-click="submitted=true">Forget Password?</a>
                 </div>
             </div>
        </div>
    </form>
</ion-content>
</ion-view>


